<div class="home-page">
  <div class="container home">
  <div class="centericon"></div>
  <H1 class="title">HAMILTON<br>ELECTORS</H1>
<p> We need YOU now more than ever. You've been granted the power to protect us from unfit leadership by the Constitution. </p>
 <p>The Electoral College was created to protect Americans from a popular, but unqualified, President. On December 19th, we hope you will do your patriotic duty.</p>
 <p>We are aware of the enormity of the decision not to vote for our current nominee, and its impact on future generations. We know this decision isn't an easy one, we have your back.</p>

  <div class="footer_share">
    <span class="twitter_share"></span>
    <span class="facebook_share"></span>
  </div>
 <h2>Share your message of support to</h2>
  <H1>#HamiltonElectors</H1> 
  </div>  
        <div class="fbcontent">
        <h2>See What Others Are Saying</h2>
            <div class="article"></div>
            <div class="article"></div>
            <div class="article"></div>
        </div>
        <div class="livefeed">
                 <h2>Live Feed</h2>
                <div class="article"></div>
                <div class="article"></div>
                <div class="article"></div>
                <div class="article"></div>
                <div class="article"></div>
                <div class="article"></div>
                <div class="article"></div>
                <div class="article"></div>
        </div>
    </div>
   
</div>
<!--     <ul class="home-page__stories">
      {% for story in stories %}
        <li class="home-page__story story">
          <a class="story__link" href="{{story['slug']}}">
            <img class="story__image" src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'], {w: 640})}}"/>
            <h2 class="story__title">{{story['headline']}}</h2>
          </a>
        </li>
      {% endfor %}
    </ul>

    <aside class="home-page__side-bar">
      {% for stack in stacks %}
        <article class="side-bar__stack">
          <h1 class="stack__title">{{ stack.heading }}</h1>
          <ul>
            {% for story in stack.stories %}
            <li>
              <a href="/{{ story['slug'] }}">
                <h3 class="stack__heading">{{ story['headline'] }}</h3>
                <p class="stack__summary">{{ story['summary'] }}</p>
                <div class="stack__byline">
                  <span class="stack__author-name">{{ story['author-name'] }}</span>
                  {% set story_date =  story['last-published-at']//1000 %}
                  <span class="stack__published-date">{{ story_date|date("F d, Y, g:i a","Asia/Calcutta") }}</span>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </article>
      {% endfor %}
    </aside> -->
